<template>
  <div class="page">
    <div class="page-overlay"></div>
    <div class="page_wrap">
      <div class="page_title">
        <div class="grid-container">
          <h1>projects</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import pageTrans from '~/mixins/page_transition'
  export default {
    mounted() {
    },
    mixins: [pageTrans]
  }
</script>

<style lang="sass">
  @import "./assets/sass/vars"
  @import "./assets/sass/breakpoints"
</style>
