@import "vars"
@import "breakpoints"

body
  font-size: $m-font-size
  height: 100%
  width: 100%
  position: fixed
  top: 0
  left: 0
  font-family: 'Source Sans Pro', sans-serif
canvas
  width: 100%
.flex-container
  width: 100%
  padding: 0 10px
  display: flex
  justify-content: space-around
  align-items: center
  flex-direction: column
.container
  width: 100%
  padding: 0 10px
  height: calc(100vh - 100px)
  display: flex
  justify-content: space-around
  align-items: flex-start
  flex-direction: column
.title
  font-weight: 900
  color: white
  overflow: hidden
  position: relative
  .overlay
    width: fit-content
    overflow: hidden
    h1
      opacity: 1
      line-height: 1.1
      font-size: 2.5em
    span
      font-size: 0.7em
.grid-container
  position: relative
  display: grid
  grid-template-columns: 10px repeat(3, 1fr) 10px
  width: 100%
  &--center
    align-items: center
.page_wrap
  height: 100vh
  width: 100%
  overflow: hidden
  background: $background
.page-overlay
  transform: translateY(-101%)
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10000
  background: $accent
.page_title_content
  grid-column: 2 / 5
  position: relative
  font-size: 2.5em
  line-height: 1.1
  font-family: 'Source Sans Pro', sans-serif
  font-weight: 900
  color: $black
  margin: 30px 0
  width: fit-content
.page__text
  grid-column: 2 / 5
  font-size: 1em
  color: $black
  font-weight: 400
  margin: 30px 0
  line-height: 1.4
  letter-spacing: 1px


@include breakpoint(desktop)
  body
    font-size: $d-font-size

  .container
    padding: 0 100px
    height: calc(100vh - 180px)

  .grid-container
    grid-template-columns: 100px repeat(5, 1fr) 100px

  section:not(.offer), header, footer
    .container
      display: grid
      grid-template-columns: repeat(5, 1fr)
      align-items: center
      .title
        grid-column: span 4
        h1
          font-size: 4em
          line-height: 1.1
  .page_title_content
    grid-column: 2 / 5
    font-size: 4em
    line-height: 1.1



