<template>
  <div class="page">
    <div class="page-overlay"></div>
    <div class="page_wrap">
      <div class="page_title">
        <div class="grid-container">
          <h1 class="page_title_content">почему клиенты выбирают именно нас?</h1>
        </div>
      </div>
      <section class="advantage advantage--left">
        <img src="/images/kitchen-1.png" alt="advantage">
        <div class="advantage__content">
          <h2>Вы получите кухню своей мечты</h2>
          <p>Мы учтем все ваши пожелания, даже самые мелкие. Высота шкафчиков будет под ваш рост, дверцы будут открываться в нужную сторону, столешницу сделаем такой ширины, как вы хотите. Вы приобретете кухню, полностью сделанную «под вас».</p>
        </div>
      </section>
      <section class="advantage advantage--right">

      </section>
    </div>
  </div>
</template>

<script>
  import pageTrans from '~/mixins/page_transition'
  export default {
    mounted() {
    },
    mixins: [pageTrans]
  }
</script>

<style lang="sass">
@import "./assets/sass/vars"
@import "./assets/sass/breakpoints"
.advantage
  margin-top: 60px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  img
    width: 100%
  &__content
    margin-top: 30px
    width: 100%
    padding: 0 15px
    font-family: 'Source Sans Pro', sans-serif
    h2
      font-size: 1em
      margin: 0
      font-weight: 700
      padding: 10px
      background: $accent
      width: calc(100% + 30px)
    p
      font-size: 1em
      margin-top: 30px
      font-weight: 400


</style>
