<template>
    <footer>
      <transition appear
                  v-on:enter="enter"
                  v-on:leave="leave"
                  mode="out-in">
          <div v-if="currentSlide === 0" class="footer__inner" key="vert">
            <p>пролистайте вниз</p>
            <div class="line"></div>
          </div>
          <div v-else class="footer__inner horizontal" key="hor">
            <transition v-on:enter="numEnter"
            v-on:leave="numLeave"
            mode="out-in">
                <p :key="currentSlide">0{{ currentSlide }}</p>
            </transition>
            <div class="line"></div>
            <p>06</p>
          </div>
      </transition>
    </footer>
</template>

<script>
  import { mapState } from 'vuex'
  import footerAnimation from '~/mixins/footer_animation'
  export default {
    name: 'Footer',
    data() {
      return {
        direction: 'up'
      }
    },
    computed: {
      ...mapState(['currentSlide'])
    },
    mixins: [footerAnimation]
  }
</script>

<style lang="sass">
@import '~assets/sass/vars'
@import '~assets/sass/breakpoints'
footer
  font-family: 'Sourse Sans Pro', sans-serif
  font-weight: 700
  font-size: 0.8em
  position: absolute
  left: 0
  bottom: 0
  height: 50px
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  .footer__inner
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
    .line
      height: 30px
      width: 2px
      background: $accent
    p
      color: $accent
  .horizontal
    justify-content: center !important
    display: grid
    grid-template-columns: repeat(3, 1fr)
    width: 100px
    .line
      height: 2px
      width: 30px
    p:last-child
      text-align: right
@include breakpoint(desktop)
  footer
    height: 80px

</style>
