<template>
  <header>
    <div class="container">
      <div class="header__logo">
        <img :src="logoSrc" alt="kitchenpro - кухни под любое помещение в Калининграде">
      </div>
      <div class="header__menu">
        <button @click.prevent="openMenu">меню</button>
        <div @click.prevent="openMenu" class="close-container">
          <svg  class="close" fill="none" viewBox="0 0 53 53" xmlns="http://www.w3.org/2000/svg">
            <path d="m1.5 1.5l50 50" stroke="#333" stroke-width="4"/>
            <path d="m1.5 51.5l50-50" stroke="#333" stroke-width="4"/>
          </svg>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  import { mapMutations, mapState } from 'vuex'
  import { TimelineMax } from 'gsap'
  export default {
    name: 'Header',
    data() {
      return {
        logoSrc: '/logo_white.svg'
      }
    },
    methods: {
      ...mapMutations(['toggleMenu']),
      openMenu() {
        let tl = new TimelineMax()
        let result = !this.showMenu
        let btn = this.$el.querySelector('button')
        let close = this.$el.querySelector('.close-container')
        this.logoSrc = result ? '/logo_black.svg' : '/logo_white.svg'
        this.toggleMenu(result)
        if (result) {
          tl.fromTo(btn, 0.4, { x: 0, opacity: 1 }, { x: -10, opacity: 0}, 0)
            .fromTo(close, 0.4, { x: 10, opacity: 0 }, { x: 0, opacity: 1}, 0)
        } else {
          tl.fromTo(close, 0.4, { x: 0, opacity: 1 }, { x: 10, opacity: 0}, 0)
            .fromTo(btn, 0.4, { x: -10, opacity: 0 }, { x: 0, opacity: 1}, 0)
        }
      }
    },
    computed: {
      ...mapState(['showMenu'])
    }
  }
</script>

<style lang="sass">
@import "./assets/sass/breakpoints"
header
  height: 50px
  width: 100%
  .container
    position: relative
    z-index: 30
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    height: 100%
  button
    font-family: 'Source Sans Pro', sans-serif
    color: white
    font-weight: 900
.header__menu
  position: relative
.close
  width: 15px
.close-container
  cursor: pointer
  position: absolute
  bottom: 0
  left: calc(50% - 8px)
  opacity: 0
.header__logo
  img
    width: 135px
@include breakpoint(desktop)
  header
    height: 100px
  .header__logo
    img
      width: 160px
  .close
    width: 25px
    left: calc(50% - 12px)
</style>
