<template>
    <div class="kitchen__container">

    </div>
</template>

<script>
  import { mapState, mapGetters, mapMutations } from 'vuex'
  import { eventBus } from '../store/eventBus'
  import * as THREE from 'three'
  import VTKLoader from '~/libs/VTKLoader'
  import OBJLoader from 'three-obj-loader'
  import fragmentShader from '~/static/shaders/fragment.glsl'
  import vertexShader from '~/static/shaders/vertex.glsl'
  import vertexTrans from '~/static/shaders/vertexTrans.glsl'
  import fragmentTrans from '~/static/shaders/fragmentTrans.glsl'
  import { TimelineMax, Power4 } from 'gsap'
  import { SMAAEffect, ShaderPass, BlendFunction, TextureEffect, EffectComposer, EffectPass, RenderPass } from 'postprocessing'
  const loader2 = new THREE.VTKLoader()
  OBJLoader(THREE)
  require('~/libs/OBMLoader')

export default {
    name: 'Kitchen',
    data() {
      return {
        figures: [],
        camera: {},
        cameraPositions: {},
        figurePositions: {},
        points: {},
        geometry: {},
        material: {},
        figureLight: {}
      }
    },
    computed: {
      ...mapState(['currentSlide']),
      ...mapGetters(['getFigure'])
    },
    watch: {
      currentSlide: function (value) {
        let vm = this
        let target = this.getFigure(value)
        vm.geometry.attributes.target = this.figures[target]
        vm.geometry.needsUpdate = true

        let tl = new TimelineMax({onComplete: function () {
          vm.material.uniforms.u_blend.value = 0
          // vm.material.uniforms.u_distort.value = 0.2
          vm.geometry.attributes.source = vm.geometry.attributes.target
          vm.geometry.needsUpdate = true
        }})

        let r = vm.points.position.distanceTo(vm.figurePositions[value])
        function curve() {
          let y = vm.points.position.y
          let blend = vm.material.uniforms.u_blend.value

          vm.figureLight.position.y = vm.points.position.y = y + r * Math.sin(Math.PI * blend) / 4
        }

        tl.to(vm.camera.position, 2, { x: vm.cameraPositions[value].x, y: vm.cameraPositions[value].y, z: vm.cameraPositions[value].z, ease: Power4.easeInOut}, 0)
          .to(vm.material.uniforms.u_blend, 2, { value: 1, ease: Power4.easeInOut}, 0)
          .to(vm.points.position, 2, { x: vm.figurePositions[value].x, y: vm.figurePositions[value].y, z: vm.figurePositions[value].z, ease: Power4.easeInOut, onUpdate: curve}, 0)
          .to(vm.figureLight.position, 2, { x: vm.figurePositions[value].x, y: vm.figurePositions[value].y, z: vm.figurePositions[value].z, ease: Power4.easeInOut }, 0)
          // .to(vm.material.uniforms.u_distort, 0.5, { value: 10 }, 0)
          // .to(vm.material.uniforms.u_distort, 1.5, { value: 0.2 }, 0.5)
      }
    },
    methods: {
      ...mapMutations(['updateIsKitchenAnimating', 'updateLoading'])
    },
    mounted() {
      let vm = this
      const loader = new THREE.OBMLoader()
      let vertices, source, positions, mouseX, mouseY

      this.cameraPositions = [
        new THREE.Vector3(50, 50, 60),
        new THREE.Vector3(50, 33.8, 34.2),
        new THREE.Vector3(45, 49, 10),
        new THREE.Vector3(73, 49, 19),
        new THREE.Vector3(65, 70, 40),
        new THREE.Vector3(24, 38, -53),
        new THREE.Vector3(48, 50, 60)
      ]

      this.figurePositions = [
        new THREE.Vector3(50, 34.1, 29),
        new THREE.Vector3(50, 34.1, 29),
        new THREE.Vector3(41.5, 34.7, 1),
        new THREE.Vector3(69, 38, 8),
        new THREE.Vector3(57, 60, 3),
        new THREE.Vector3(25, 30, -57),
        new THREE.Vector3(50, 34.1, 29)
      ]

      let destX = 0
      let destY = 0

      let onDocumentMouseMove = function (event) {
        mouseX = (event.clientX - window.innerWidth / 2)
        mouseY = -(event.clientY - window.innerHeight / 2)
        destX = mouseX / 10
        destY = mouseY / 10
      }

      document.addEventListener('mousemove', onDocumentMouseMove, false)
      let scene = new THREE.Scene()
      vm.camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 1000)

      let renderer = new THREE.WebGLRenderer({ alpha: true })
      renderer.setPixelRatio(window.devicePixelRatio)
      renderer.setSize(window.innerWidth, window.innerHeight)
      renderer.setClearColor(0x000000)

      this.$el.appendChild(renderer.domElement)

      // COMPOSER

      const areaImage = new Image()
      areaImage.src = SMAAEffect.areaImageDataURL

      const searchImage = new Image()
      searchImage.src = SMAAEffect.searchImageDataURL

      let smaaEffect = new SMAAEffect(searchImage, areaImage)
      smaaEffect.setEdgeDetectionThreshold(0.1)
      smaaEffect.setOrthogonalSearchSteps(8)

      const textureEffect = new TextureEffect({
        blendFunction: BlendFunction.SKIP,
        texture: smaaEffect.renderTargetColorEdges.texture
      })

      let composer = new EffectComposer(renderer)
      composer.setSize(window.innerWidth, window.innerHeight)

      let renderPass = new RenderPass(scene, vm.camera)
      renderPass.renderToScreen = false

      let effectPass = new EffectPass(vm.camera, smaaEffect, textureEffect)

      const transMaterial = new THREE.ShaderMaterial({

        uniforms: {
          tDiffuse: { value: null },
          u_zoom: { type: 'f', value: 1.0 },
          u_fill: { type: 'f', value: 1000.0 }
        },
        vertexShader: vertexTrans,
        fragmentShader: fragmentTrans

      })

      // PAGE TRANSITION

      eventBus.$on('startEnter', function (done) {
        let tl = new TimelineMax({ onComplete: () => { done() } })
        tl.to(transMaterial.uniforms.u_fill, 2, { value: 1000.0, ease: Power4.easeIn }, 0)
          .to(transMaterial.uniforms.u_zoom, 1.5, { value: 1.0, ease: Power4.easeOut }, 0)
      })

      eventBus.$on('startLeave', function (done) {
        let tl = new TimelineMax({ onComplete: () => { done() } })
        tl.to(transMaterial.uniforms.u_zoom, 1.5, { value: 5.0, ease: Power4.easeOut }, 0)
          .to(transMaterial.uniforms.u_fill, 2, { value: 0.0, ease: Power4.easeOut }, 0)
      })

      const transPass = new ShaderPass(transMaterial, 'tDiffuse')
      transPass.renderToScreen = true

      composer.addPass(renderPass)
      composer.addPass(effectPass)
      composer.addPass(transPass)

      let time = 0
      let animate = function () {
        time++
        vm.material.uniforms.u_time.value = time
        vm.camera.lookAt(vm.points.position)
        // renderer.render(scene, vm.camera)
        composer.render()
        requestAnimationFrame(animate)
      }

      let kitchenMaterial = new THREE.MeshPhongMaterial({ color: 0x3300ff })

      loader.load('models/kitchen6.obm', function (mesh) {
        mesh.scale.set(0.39, 0.39, 0.39)
        mesh.position.x -= 17

        mesh.traverse(function (node) {
          if (node.isMesh) node.material = kitchenMaterial
        })

        scene.add(mesh)
        vm.updateLoading(false)
      })

      vm.material = new THREE.RawShaderMaterial({
        uniforms: {
          size: { type: 'f', value: 2.1 * window.devicePixelRatio * 2 },
          u_time: { type: 'f', value: 0.0 },
          u_blend: {type: 'f', value: 0.0},
          u_distort: { type: 'f', value: 0.2 }
        },
        vertexShader,
        fragmentShader
      })
      loader2.load('/models/roulette.vtk', function (mesh) {
        vertices = mesh.vertices.length

        vm.geometry = new THREE.BufferGeometry()

        source = new Float32Array(vertices * 3)
        positions = new Float32Array(vertices * 3)
        let target = new Float32Array(vertices * 3)
        let cube = new Float32Array(vertices * 3)
        let sphere = new Float32Array(vertices * 3)
        let cylinder = new Float32Array(vertices * 3)
        let dish = new Float32Array(vertices * 3)

        for (let i = 0; i <= vertices * 3; i = i + 3) {
          cube[i] = Math.random() * 2 - 1
          cube[i + 1] = Math.random() * 2 - 1
          cube[i + 2] = Math.random() * 2 - 1
        }
        vm.figures['cube'] = new THREE.BufferAttribute(cube, 3)
        let teta, z
        for (let i = 0; i < vertices * 3; i = i + 3) {
          teta = Math.random() * 2 * Math.PI
          z = 3 * Math.random()
          sphere[i] = 3 * Math.sqrt(9 - z * z) * Math.cos(teta)
          sphere[i + 1] = 3 * Math.sqrt(9 - z * z) * Math.sin(teta) + 1
          sphere[i + 2] = z
        }
        vm.figures['sphere'] = new THREE.BufferAttribute(sphere, 3)

        let temp = new THREE.BufferAttribute(positions, 3)
        vm.figures['roulette'] = temp.copyVector3sArray(mesh.vertices)

        let fi, yc
        for (let i = 0; i <= vertices * 3; i = i + 3) {
          fi = Math.random() * 2 * Math.PI
          yc = 5 * Math.random()
          cylinder[i] = 2 * Math.cos(fi)
          cylinder[i + 1] = yc - 1
          cylinder[i + 2] = 2 * Math.sin(fi)
        }
        vm.figures['cylinder'] = new THREE.BufferAttribute(cylinder, 3)

        for (let i = 0; i <= vertices * 3; i = i + 3) {
          teta = Math.random() * 2 * Math.PI
          z = 1.25 * Math.random()
          dish[i] = 1.25 * Math.sqrt(1.5625 - z * z) * Math.cos(teta)
          dish[i + 1] = z
          dish[i + 2] = 1.25 * Math.sqrt(1.5625 - z * z) * Math.sin(teta) + 1
        }
        vm.figures['dish'] = new THREE.BufferAttribute(dish, 3)

        vm.geometry.addAttribute('position', new THREE.BufferAttribute(positions, 3))
        vm.geometry.addAttribute('source', vm.figures[vm.getFigure(vm.currentSlide)])
        vm.geometry.addAttribute('target', new THREE.BufferAttribute(target, 3))
        vm.geometry.attributes.position.copyVector3sArray(mesh.vertices)

        vm.points = new THREE.Points(vm.geometry, vm.material)
        scene.add(vm.points)
        vm.points.position.copy(vm.figurePositions[vm.currentSlide])
        vm.camera.lookAt(vm.points.position)
        animate()
      })

      vm.camera.position.copy(vm.cameraPositions[vm.currentSlide])

      let dlight = new THREE.PointLight(0xffffff, 1, 100)
      dlight.position.set(59, 60, 1)
      scene.add(dlight)
      let ddlight = new THREE.PointLight(0xffffff, 1, 100)
      ddlight.position.set(20, 60, -10)
      scene.add(ddlight)
      let dddlight = new THREE.PointLight(0xffffff, 1, 100)
      dddlight.position.set(-20, 60, -10)
      scene.add(dddlight)
      let ddddlight = new THREE.PointLight(0xffffff, 1, 100)
      ddddlight.position.set(20, 60, 60)
      scene.add(ddddlight)
      vm.figureLight = new THREE.PointLight(0xee7878, 2, 25)
      vm.figureLight.position.copy(vm.figurePositions[vm.currentSlide])
      scene.add(vm.figureLight)

      // let light = new THREE.AmbientLight(0xffffff) // soft white light
      // scene.add(light)

      function onWindowResize() {
        vm.camera.aspect = window.innerWidth / window.innerHeight
        vm.camera.updateProjectionMatrix()

        renderer.setSize(window.innerWidth, window.innerHeight)
        composer.setSize(window.innerWidth, window.innerHeight)
      }
      window.addEventListener('resize', onWindowResize, false)
    }
  }
</script>

<style lang="sass">
.kitchen__container
  position: absolute
  top: 0
  left: 0
  z-index: -1
</style>
