<template>
    <transition
      v-on:enter="enter"
      v-on:leave="leave"
      mode="out-in">
        <nav>
          <ul>
            <li><nuxt-link to="/about">о компании</nuxt-link></li>
            <li><nuxt-link to="/advantages">преимущества</nuxt-link></li>
            <li><nuxt-link to="/how-we-work">рабочий процесс</nuxt-link></li>
            <li><nuxt-link to="/projects">наши работы</nuxt-link></li>
            <li><nuxt-link to="/feedback">отзывы</nuxt-link></li>
            <li><nuxt-link to="/contacts">контакты</nuxt-link></li>
          </ul>
        </nav>
    </transition>
</template>

<script>
  import {TimelineMax, Power4} from 'gsap'
  import { mapMutations, mapState } from 'vuex'
  export default {
    name: 'Menu',
    mounted() {
      this.$router.beforeResolve((to, from, next) => {
        if (this.showMenu) {
          this.toggleMenu(false)
          setTimeout(() => { next() }, 300)
        } else next()
      })
    },
    methods: {
      enter: function (el, done) {
        let tl = new TimelineMax({onComplete: () => { done() }})
        tl.to(el, 1, { x: '0%', ease: Power4.easeInOut })
      },
      leave: function (el, done) {
        let tl = new TimelineMax({onComplete: () => { done() }})
        tl.to(el, 1, { x: '101%', ease: Power4.easeInOut })
      },
      ...mapMutations(['toggleMenu'])
    },
    computed: {
      ...mapState(['showMenu'])
    }
  }
</script>

<style lang="sass">
@import "../assets/sass/_vars"
@import "./assets/sass/breakpoints"
nav
  position: fixed
  overflow: hidden
  transform: translateX(101%)
  height: 100%
  width: 100%
  top: 0
  left: 0
  background: white
  z-index: 29
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
</style>


