<template>
    <div class="action-link">
      <nuxt-link :to="link">{{ content }}</nuxt-link>
    </div>
</template>

<script>
  export default {
    name: 'SignUp',
    props: ['link', 'content'],
    mounted() {
    }
  }
</script>

<style lang="sass">
@import "../assets/sass/_vars"
@import "./assets/sass/breakpoints"
.action-link
  color: $accent
  font-weight: 900
  height: 4em
  display: flex
  justify-content: center
  align-items: center
  grid-column-start: 1
  a
    padding: 20px 10px
    z-index: 2

</style>
