<template>
    <div class="slides">
      <transition appear
        v-on:enter="enter"
        v-on:leave="leave"
        :css="false"
        mode="out-in">
          <component :is="getCurrentSlideName"
                      :v-show="!isKitchenAnimating"></component>
      </transition>
    </div>
</template>

<script>
  import { throttle } from 'underscore'
  import { mapState, mapActions, mapGetters, mapMutations } from 'vuex'

  if (typeof window !== 'undefined') {
    require('hammerjs')
  }

  import animation from '~/mixins/animation'
  import FirstScreen from '~/components/slides/FirstScreen'
  import About from '~/components/slides/About'
  import HowWeWork from '~/components/slides/HowWeWork'
  import OurWorks from '~/components/slides/OurWorks'
  import Feedback from '~/components/slides/Feedback'
  import Contacts from '~/components/slides/Contacts'
  import Advantages from '~/components/slides/Advantages'

  export default {
    name: 'Slides',
    components: {
      About,
      FirstScreen,
      HowWeWork,
      OurWorks,
      Feedback,
      Contacts,
      Advantages
    },
    data() {
      return {
        swipeController: null
      }
    },
    mixins: [ animation ],
    computed: {
      ...mapState(['currentSlide',
        'isKitchenAnimating']),
      ...mapGetters(['getCurrentSlideName',
        'getSlidesCount'])
    },
    mounted() {
      this.swipeController = new Hammer(this.$el)
      this.swipeController.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL })
      this.swipeController.on('swipe', this.changeSlide)

      if (document.addEventListener) {
        if ('onwheel' in document) {
          // IE9+, FF17+, Ch31+
          document.addEventListener('wheel', this.changeSlide)
        } else if ('onmousewheel' in document) {
          // устаревший вариант события
          document.addEventListener('mousewheel', this.changeSlide)
        } else {
          // Firefox < 17
          document.addEventListener('MozMousePixelScroll', this.changeSlide)
        }
      } else { // IE8-
        document.attachEvent('onmousewheel', this.changeSlide)
      }
    },
    destroyed() {
      this.swipeController.destroy()
      if (document.removeEventListener) {
        if ('onwheel' in document) {
          // IE9+, FF17+, Ch31+
          document.removeEventListener('wheel', this.changeSlide)
        } else if ('onmousewheel' in document) {
          // устаревший вариант события
          document.removeEventListener('mousewheel', this.changeSlide)
        } else {
          // Firefox < 17
          document.removeEventListener('MozMousePixelScroll', this.changeSlide)
        }
      } else { // IE8-
        document.detachEvent('onmousewheel', this.changeSlide)
      }
    },
    methods: {
      changeSlide: throttle(function (e) {
        e = e || document.event

        let delta = e.deltaY || e.detail || e.wheelDelta
        delta = e.type === 'swipe' ? delta < 0 ? 1 : -1 : delta > 0 ? 1 : -1

        if (delta > 0) {
          if (this.currentSlide < this.getSlidesCount - 1) {
            this.updateCurrentSlide(delta)
          }
        } else {
          if (this.currentSlide > 0) {
            this.updateCurrentSlide(delta)
          }
        }

        //e.preventDefault ? false : (e.returnValue = false)
      }, 2100, {trailing: false}),
      ...mapActions(['updateCurrentSlide']),
      ...mapMutations(['updateIsKitchenAnimating'])
    }
  }
</script>

<style lang="sass">
.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0
</style>
