<template>
  <section class="about">
    <div class="container">
      <div class="title">
        <div class="overlay">
          <h1>о компании</h1>
        </div>
      </div>
      <SignUp
      content="подробнее"
      link="/about"/>
    </div>
  </section>
</template>

<script>
  import SignUp from '../SignUp'
  export default {
    name: 'About',
    components: {SignUp}
  }
</script>

<style lang="sass">


</style>
