<template>
  <section class="advantages">
    <div class="container">
      <div v-if="mobile" class="title">
        <div class="overlay">
          <h1>почему мы</h1>
        </div>
        <div class="overlay">
          <h1>лучшие в</h1>
        </div>
        <div class="overlay">
          <h1>сфере кухонь</h1>
        </div>
      </div>
      <div v-else class="title">
        <div class="overlay">
          <h1>почему мы лучшие в</h1>
        </div>
        <div class="overlay">
          <h1>сфере производства</h1>
        </div>
        <div class="overlay">
          <h1>кухонь</h1>
        </div>
      </div>
      <SignUp
        content="подробнее"
        link="/advantages"/>
    </div>
  </section>
</template>

<script>
  import SignUp from '../SignUp'
  import isMobile from 'ismobilejs'
  export default {
    name: 'Advantages',
    components: {SignUp},
    data() {
      return {
        mobile: isMobile.phone
      }
    }
  }
</script>

<style lang="sass">

</style>
