<template>
  <section class="contacts">
    <div class="container">
      <div v-if="mobile" class="title">
        <div class="overlay">
          <h1>как с нами</h1>
        </div>
        <div class="overlay">
          <h1>связаться</h1>
        </div>
      </div>
      <div v-else class="title">
        <div class="overlay">
          <h1>как с нами связаться</h1>
        </div>
      </div>
      <SignUp
        content="подробнее"
        link="/contacts"/>
    </div>
  </section>
</template>

<script>
  import SignUp from '../SignUp'
  import isMobile from 'ismobilejs'
  export default {
    name: 'Contacts',
    components: {SignUp},
    data() {
      return {
        mobile: isMobile.phone
      }
    }
  }
</script>

<style lang="sass">

</style>
