<template>
  <section class="feedback">
    <div class="container">
      <div v-if="mobile" class="title">
        <div class="overlay">
          <h1>что клиенты</h1>
        </div>
        <div class="overlay">
          <h1>думают о</h1>
        </div>
        <div class="overlay">
          <h1>нашей работе</h1>
        </div>
      </div>
      <div v-else class="title">
        <div class="overlay">
          <h1>что клиенты думают</h1>
        </div>
        <div class="overlay">
          <h1>о нашей работе</h1>
        </div>
      </div>
      <SignUp
        content="подробнее"
        link="/feedback"/>
    </div>
  </section>
</template>

<script>
  import SignUp from '../SignUp'
  import isMobile from 'ismobilejs'
  export default {
    name: 'Feedback',
    components: {SignUp},
    data() {
      return {
        mobile: isMobile.phone
      }
    }
  }
</script>

<style lang="sass">

</style>
