<template>
  <section class="offer">
    <div class="container">
      <div class="offer__hero">
          <div class="bg-overlay"></div>
          <div class="overlay">
            <h1>Кухни</h1>
          </div>
          <div class="offer__group">
              <div class="overlay">
                <h1>под</h1>
              </div>
              <div class="overlay">
                <h1>любое</h1>
              </div>
              <div class="overlay">
                <h1>помещение</h1>
              </div>
          </div>
      </div>
      <SignUp link="/contacts"
              content="записатья на замер"></SignUp>
    </div>
  </section>
</template>

<script>
  import SignUp from '~/components/SignUp'
  export default {
    name: 'FirstScreen',
    components: {
      SignUp
    }
  }
</script>

<style lang="sass">
@import "./assets/sass/breakpoints"
.offer
  .container
    align-items: center
.offer__hero
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  position: relative
  .bg-overlay
    background: linear-gradient(116.04deg, rgba(238, 120, 120, 0.5) 0%, rgba(178, 31, 215, 0.5) 100%)
    position: absolute
    z-index: -1
    top: -1em
    left: -1em
    width: 80%
    height: 90%

  .overlay
    overflow: hidden
    width: auto
    height: auto
    h1
      font-family: 'Montserrat', sans-serif
      text-transform: uppercase
      font-weight: 900
      font-size: 4em
      color: white
      width: auto
      height: auto
  .offer__group
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .overlay
      h1
        width: auto
        height: auto
        font-size: 1.7em

@include breakpoint(desktop)
  .offer__hero
    flex-direction: row
    .overlay
      h1
        font-size: 8em
    .offer__group
      align-items: flex-start
      .overlay
        h1
          font-size: 2em

</style>
