<template>
  <section class="how-we-work">
    <div class="container">
      <div v-if="mobile" class="title">
        <div class="overlay">
            <h1>как в</h1>
        </div>
        <div class="overlay">
            <h1>kitchenpro</h1>
        </div>
        <div class="overlay">
            <h1>работают над</h1>
        </div>
        <div class="overlay">
            <h1>вашими</h1>
        </div>
        <div class="overlay">
            <h1>кухнями</h1>
        </div>
      </div>
      <div v-else class="title">
        <div class="overlay">
          <h1>как в kitchenpro</h1>
        </div>
        <div class="overlay">
          <h1>работают над</h1>
        </div>
        <div class="overlay">
          <h1>вашими кухнями</h1>
        </div>
      </div>
      <SignUp
        content="подробнее"
        link="/how-we-work"/>
    </div>
  </section>
</template>

<script>
  import SignUp from '../SignUp'
  import isMobile from 'ismobilejs'
  export default {
    name: 'HowWeWork',
    components: {SignUp},
    data() {
      return {
        mobile: isMobile.phone
      }
    }
  }
</script>

<style lang="sass">

</style>
