<template>
  <section class="our-works">
    <div class="container">
      <div v-if="mobile" class="title">
        <div class="overlay">
          <h1>наши работы</h1>
        </div>
        <div class="overlay">
          <h1 class="small"><span>или</span></h1>
        </div>
        <div class="overlay">
          <h1>то, чем мы</h1>
        </div>
        <div class="overlay">
          <h1>радуем</h1>
        </div>
        <div class="overlay">
          <h1>клиентов</h1>
        </div>
      </div>
      <div v-else class="title">
        <div class="overlay">
          <h1>наши работы</h1>
        </div>
        <div class="overlay">
          <h1 class="small"><span>или</span></h1>
        </div>
        <div class="overlay">
          <h1>то, чем мы</h1>
        </div>
        <div class="overlay">
          <h1>радуем клиентов</h1>
        </div>
      </div>

      <SignUp
        content="подробнее"
        link="/projects"/>
    </div>
  </section>
</template>

<script>
  import SignUp from '../SignUp'
  import isMobile from 'ismobilejs'
  export default {
    name: 'OurWorks',
    components: {SignUp},
    data() {
      return {
        mobile: isMobile.phone
      }
    }
  }
</script>

<style lang="sass">
.small
  line-height: 0.7 !important
</style>
