<template>
  <div class="wrapper">
    <main>
      <Kitchen />
      <nuxt/>
    </main>
  </div>
</template>

<script>
import Kitchen from '~/components/Kitchen'
export default {
  components: {Kitchen}
}
</script>

<style>

</style>
