<template>
  <div class="page">
    <div class="page-overlay"></div>
    <div class="page_wrap">
      <div class="page_title">
        <div class="grid-container">
          <h1 class="page_title_content">о компании</h1>
        </div>
      </div>
      <div class="about-offer">
        <div class="grid-container">
          <h2 class="about-offer__content">привет, мы kitchenpro.
                                           мы делаем кухни под
                                           любое помещение.
                                            сейчас мы расскажем
                                            нашу историю.</h2>
        </div>
      </div>
      <section class="person-info v">
          <div class="grid-container grid-container--center">
            <div class="person__photo__wrapper">
              <img class="person__photo parallax" data-speed="0.5" data-trigger=".person-info.v" src="/images/valeria.png" alt="Валерия Савчиц">
              <div class="person__details">
                <span>PR-менеджер</span>
                <p>Валерия Савчиц</p>
              </div>
            </div>
            <p class="page__text">Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.</p>
          </div>
      </section>
      <section class="person-info d">
          <div class="grid-container grid-container--center">
            <div class="person__photo__wrapper person__photo__wrapper--left">
              <img class="person__photo person__photo--left parallax" data-speed="0.5" data-trigger=".person-info.d" src="/images/valeria.png" alt="Денис Савчиц">
              <div class="person__details person__details--left">
                <span>Директор</span>
                <p>Денис Савчиц</p>
              </div>
            </div>
            <p class="page__text page__text--right">Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.</p>
          </div>
      </section>
      <section class="about__story">
        <div class="grid-container grid-container--center">
          <div class="about__story__kitchen">
            <img src="/images/kitchen-1.png" alt="Кухня 1">
            <img src="/images/kitchen-2.png" alt="Кухня 2">
          </div>
          <p class="page__text">С другой стороны начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки существенных финансовых и админ условий. С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке систем массового участия. </p>
        </div>
      </section>
      <section class="about__story--last">
        <div class="grid-container grid-container--center">
          <img src="/images/kitchen-3.png" alt="Кухня 3">
          <p class="page__text">С другой стороны начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки существенных финансовых и админ условий. С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке систем массового участия. </p>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
  import pageTrans from '~/mixins/page_transition'
  import 'intersection-observer'
  export default {
    mixins: [pageTrans]
  }
</script>

<style lang="sass">
@import "./assets/sass/vars"
@import "./assets/sass/breakpoints"

.about-offer
  margin-bottom: 30px
  &__content
    grid-column: 2 / 5
    font-size: 1.7em
    line-height: 1.1
    font-family: 'Source Sans Pro', sans-serif
    font-weight: 900
    color: $black
.person__photo__wrapper
  grid-column: 3 / 6
  position: relative
  &--left
    grid-column: 1 / 4
.person
  &__details
    position: absolute
    top: 50%
    left: 0
    transform: translate(-50%, -50%)
    color: $black
    display: flex
    align-items: flex-start
    justify-content: flex-start
    flex-direction: column
    &--left
      align-items: flex-end
      left: auto
      right: 0
      transform: translate(50%, -50%)
    span
      font-size: 1em
      font-weight: 400
      background: $background
      padding: 5px
      transform: translateY(1px)
    p
      text-transform: uppercase
      font-size: 1.3em
      font-weight: 700
      color: $black
      width: fit-content
      white-space: nowrap
      background: $background
      padding: 5px
  &__photo
    width: 100%
.about__story__kitchen
  position: relative
  grid-column: 1 / 6
  img:first-child
    width: 100%
  img:last-child
    position: absolute
    top: 80%
    right: 30px
    width: 250px
.about__story
  &--last
    img
      width: 100%
      grid-column: 2 / 5
  .page__text
    margin-top: 250px

@include breakpoint(desktop)
  .about-offer__content
    font-size: 3em
    white-space: pre-line
    grid-column: 2 / 7
  .person__photo__wrapper
    grid-column: 5 / 8
    &--left
      grid-column: 1 / 4
  .person-info
    .page__text
      grid-column: 2 / 4
      grid-row: 1
      &--right
        grid-column: 5 / 7
  .about__story__kitchen
    grid-column: 4 / 8
    img:last-child
      top: 60%
      width: 500px
  .about__story
    .page__text
      grid-column: 2 / 4
      grid-row: 1
      padding-right: 30px
    &--last
      margin-top: 300px
      img
        grid-column: 1 / 5
      .page__text
        grid-column: 5 / 7
        grid-row: 1
        padding-left: 30px
  section
    margin: 50px 0



</style>
