<template>
  <div class="main__inner">
    <Menu v-show="showMenu" />
    <Header />
    <div class="main__inner__slides">
      <Slides v-show="!loading" />
    </div>
    <Footer v-show="!loading" />
  </div>
</template>
<script>

  import Slides from '~/components/Slides'
  import Header from '~/components/Header'
  import Footer from '../components/Footer'
  import Menu from '../components/Menu'
  import { mapState } from 'vuex'
  import { eventBus } from '../store/eventBus'
  import { TimelineMax, Power4 } from 'gsap'

  export default {
    components: {
      Menu,
      Footer,
      Header,
      Slides
    },
    mounted() {
    },
    computed: {
      ...mapState(['showMenu', 'loading'])
    },
    transition: {
      name: 'main',
      css: false,
      enter(el, done) {
        eventBus.$emit('startEnter', done)
      },
      leave(el, done) {
        let tl = new TimelineMax()
        tl.to(el, 0.5, { opacity: 0, ease: Power4.easeOut })
        eventBus.$emit('startLeave', done)
      }
    }
  }
</script>
<style lang="sass">
.main__inner
  width: 100%
  height: 100vh
  &__slides
    font-family: 'Source Sans Pro', sans-serif
    section
      height: 100%
      width: 100%

</style>
