<template>

</template>
<script>
export default {
  // asyncData({ req }) {
  //   return {
  //     name: req ? 'server' : 'client'
  //   }
  // },
  head() {
    return {
      title: 'kek'
    }
  },
  mounted() {
    console.log('its ok!')
  }
}
</script>

<style lang="sass">

</style>
